@import "./variables";

.features {
  padding: 75px 2%;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $featurBgClr;
  .features-nested {
    width: 100%;
    padding-right: calc(1.5rem * 0.5);
    padding-left: calc(1.5rem * 0.5);
    margin: auto 0;
    display: flex;

    .featur-txt {
      width: calc(100% - 58%);
      padding: 0px 12px;

      h1 {
        margin-bottom: 25px;
        margin-top: 0;
        line-height: 36px;
        font-size: 24px;
        font-family: $fontsTxt;
        font-weight: 500;
        display: block;
      }
      p {
        color: $greyClr;
        font-size: 14.4px;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 1rem;
        font-weight: 500;
        display: block;
        opacity: 1;
        letter-spacing: 0.2px;
        font-family: $rubikFonts;
        font-weight: 400;
      }
      ul {
        color: $greyClr;
        margin-top: 1.5rem;
        padding-left: 0;
        margin-bottom: 1rem;
        display: block;
        position: relative;
        text-align: start;
        li {
          letter-spacing: 0.2px;
          position: relative;
          line-height: 24px;
          font-size: 15px;
          font-family: $rubikFonts;
        font-weight: 400;
          padding: 7px 0 7px 0px;
          display: list-item;
          margin-left: 1.5em;

          &::marker {
            position: absolute;
            color: $redClr;
            font-size: 20px;
          }
        }
      }
      button {
        padding: 13px 20.3px;
        font-size: 14px;
        letter-spacing: 0.5px;
        margin-top: 1.5rem;
        text-align: center;
        border-radius: 5px;
        outline: none;
        background-color: $redClr;
        color: white;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $rubikFonts;
        font-weight: 400;
        transition: transform 0.5s ease;
        border: 1px solid transparent;
        &:hover {
          transform: translateY(-7px);
          border-color: #ca2c2c;
        }
        .i {
          font-size: 17px;
          margin-left: 2px;
          font-weight: 300;
        }
      }
    }
    .featur-img {
      position: relative;
      box-sizing: border-box;
      margin: 0 0 0 auto;
      text-align: right;
      display: flex;
      width: calc(100% - 41%);
      img {
        margin: auto;
        max-width: 500px;
        height: auto;
      }
    }
  }
}

@media (min-width: 1024px) {
  .features {
    padding: 55px 0px;
    .features-nested {
      margin: 7%;
      .featur-img {
        width: 52%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .features {
    padding: 55px 0px;
    .features-nested {
      margin: 5%;
      .featur-txt {
        width: 44%;
      }
      .featur-img {
        width: 52%;
      }
    }
  }
}

@media (max-width: 992px) {
  .features {
    height: auto;
    .features-nested {
      display: flex;
      flex-direction: column;
      margin: 0px 5%;
      .featur-txt {
        width: 100%;
      }
      .featur-img {
        width: 100%;
        margin: 40px 0 0 auto;
      }
    }
  }
}

@media (max-width: 570px) {
  .features .features-nested {
        margin: 0px 3%;
    .featur-img img {
      max-width: 100%;
    }
  }
}

@media (max-width: 560px) {
  .features .features-nested .featur-img img {
    max-width: 100%;
  }
}
