@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&display=swap');


$poppinFonts: 'Poppins', sans-serif;
$rubikFonts: 'Rubik', sans-serif;
$rufinaFonts: 'Rufina', serif;
$robotoslabFonts: 'Roboto Slab', serif;
$ramblaFonts: 'Rambla', sans-serif;

$primaryClr:orangered;
$primaryltClr:rgba(255, 69, 0,0.15);
$primaryHovltClr:rgba(255, 69, 0,0.2);